:root {
    --cor-primaria: #055a05;
    --cor-secundaria: #f7cca8;
    --cor-destaque1: #264653;
    --cor-destaque2: #e9c46a;
    --fonte-titulo: "Times New Roman", "Georgia", serif;
    --fonte-body: Arial, helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-body);
    color: var(--cor-destaque1);
}

header, main, footer {
    width: 850px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--fonte-titulo);
    color: var(--cor-destaque1);
    text-align: center;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.427);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
    font-size: 18px;
}

header{
    background-color: rgb(17, 44, 99);
}

header nav {
    grid-column-end: end;
}

header nav a {
    padding: 10px;
    text-decoration: none;
    color: white;
}
 

header img {
    width: 100px;
}

.hero {
    position: relative;
    margin: 10px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px 0;
    text-align: center;
    opacity: 0.9;
    background-color: var(--cor-destaque1);
    color: white;
    text-shadow: 4px 1px rgba(0, 0, 0, 0.427);
    box-shadow: 10px 10px 50px black;

}

.hero article {
    position: absolute;
    background-color: var(--cor-destaque2);
    top: 255px;
    box-shadow: 10px 10px 50px black;
}

.hero article img {
    float: right;
    width: 170px;
    margin: 10px;
    box-shadow: 2px 2px rgba(4, 4, 4, 0.336);
}

footer {
    background-color: var(--cor-destaque1);
    color: white;
}

.footer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.footer p {
    grid-column: 2 / 3;
    justify-self: center;
    margin: 0;
    text-align: center;
    text-shadow: 4px 1px rgba(0, 0, 0, 0.427);
}

.footer nav {
    grid-column: 3 / 4;
    justify-self: end;
}

footer img {
    height: 30px;
    width: 30px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.397);
}

.redes-sociais {
    display: flex;
    gap: 15px;
    
}

.cabecalho {
    display: grid;
    grid-template-columns: 200px 1fr;
    border-bottom: 2px solid black;
    align-items: center;
    padding-bottom: 10px;
}

.section1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.history_h2 {
    justify-self: center;
}


.history_h2 img {
    width: 250px;
    border: 1px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.397);
    margin: 10px;
}

.section2 {
    margin: 10px;
    margin-bottom: 30px;
    padding: 0;
}

.div_section2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 15px;
    align-items: center;
    justify-items: center;
    background-color: var(--cor-destaque1);
    padding: 10px;
}

.div_section2 img {
    margin: 0;
    height: 90px;
    width: 150px;
    border: 1px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.397);
}

.div_section2 figcaption {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.427);
    font-size: 8px;
    color: white;
   width: 150px;
}